In [20]:
import numpy as np
import pandas as pd

In [3]:
player_info = pd.read_csv('common_player_info.csv')
player_stats = pd.read_csv('Player Totals.csv')

In [4]:
# using only necessary columns/deleting not necessary columns 
player_info_cleaned = player_info[['display_first_last', 'birthdate', 'height', 'weight', 'position', 'draft_number']]
player_info_cleaned = player_info_cleaned.rename(columns={'display_first_last':'player'})

In [5]:
player_stats_cleaned = player_stats.drop(columns = ['seas_id','player_id', 'pos', 'lg'])

In [6]:
player_stats_cleaned

,season,player,birth_year,age,experience,tm,g,gs,mp,fg,...,ft_percent,orb,drb,trb,ast,stl,blk,tov,pf,pts
0,2024,A.J. Green,NaN,24.0,2,MIL,56,0.0,614.0,83,...,0.895,9.0,55.0,64.0,30,9.0,4.0,12.0,49,252
1,2024,A.J. Lawson,NaN,23.0,2,DAL,42,0.0,311.0,54,...,0.652,14.0,36.0,50.0,20,10.0,3.0,14.0,22,136
2,2024,AJ Griffin,NaN,20.0,2,ATL,20,0.0,171.0,18,...,1.000,2.0,16.0,18.0,5,1.0,2.0,8.0,6,48
3,2024,Aaron Gordon,NaN,28.0,10,DEN,73,73.0,2297.0,398,...,0.658,174.0,297.0,471.0,259,56.0,45.0,105.0,142,1013
4,2024,Aaron Holiday,NaN,27.0,6,HOU,78,1.0,1269.0,186,...,0.921,23.0,100.0,123.0,140,42.0,6.0,53.0,125,514
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31865,1947,Walt Miller,NaN,31.0,1,PIT,12,NaN,NaN,7,...,0.500,NaN,NaN,NaN,6,NaN,NaN,NaN,16,23
31866,1947,Warren Fenley,NaN,24.0,1,BOS,33,NaN,NaN,31,...,0.511,NaN,NaN,NaN,16,NaN,NaN,NaN,59,85
31867,1947,Wilbert Kautz,NaN,31.0,1,CHS,50,NaN,NaN,107,...,0.534,NaN,NaN,NaN,37,NaN,NaN,NaN,114,253
31868,1947,Woody Grimshaw,NaN,27.0,1,PRO,21,NaN,NaN,20,...,0.477,NaN,NaN,NaN,1,NaN,NaN,NaN,25,61
31869,1947,Wyndol Gray,NaN,24.0,1,BOS,55,NaN,NaN,139,...,0.581,NaN,NaN,NaN,47,NaN,NaN,NaN,105,350

In [7]:
player_info_cleaned

,player,birthdate,height,weight,position,draft_number
0,Alaa Abdelnaby,1968-06-24 00:00:00,6-10,240.0,Forward,25
1,Kareem Abdul-Jabbar,1947-04-16 00:00:00,7-2,225.0,Center,1
2,Tariq Abdul-Wahad,1974-11-03 00:00:00,6-6,235.0,Forward-Guard,11
3,Shareef Abdur-Rahim,1976-12-11 00:00:00,6-9,245.0,Forward,3
4,Tom Abernethy,1954-05-06 00:00:00,6-7,220.0,Forward,43
...,...,...,...,...,...,...
4166,Paul Zipser,1994-02-18 00:00:00,6-8,226.0,Forward,48
4167,Ante Zizic,1997-01-04 00:00:00,6-10,266.0,Center,23
4168,Jim Zoet,1953-12-30 00:00:00,7-1,240.0,Center,Undrafted
4169,Ivica Zubac,1997-03-18 00:00:00,7-0,240.0,Center,32
4170,Matt Zunic,1919-12-19 00:00:00,6-3,195.0,Guard,NaN

In [8]:
data = pd.merge(player_stats_cleaned,player_info_cleaned,on='player',how='inner')

In [9]:
data

,season,player,birth_year,age,experience,tm,g,gs,mp,fg,...,stl,blk,tov,pf,pts,birthdate,height,weight,position,draft_number
0,2024,A.J. Lawson,NaN,23.0,2,DAL,42,0.0,311.0,54,...,10.0,3.0,14.0,22,136,2000-07-15 00:00:00,6-6,179.0,Guard,Undrafted
1,2024,AJ Griffin,NaN,20.0,2,ATL,20,0.0,171.0,18,...,1.0,2.0,8.0,6,48,2003-08-25 00:00:00,6-6,220.0,Forward,16
2,2024,Aaron Gordon,NaN,28.0,10,DEN,73,73.0,2297.0,398,...,56.0,45.0,105.0,142,1013,1995-09-16 00:00:00,6-8,235.0,Forward,4
3,2024,Aaron Holiday,NaN,27.0,6,HOU,78,1.0,1269.0,186,...,42.0,6.0,53.0,125,514,1996-09-30 00:00:00,6-0,185.0,Guard,23
4,2024,Aaron Nesmith,NaN,24.0,4,IND,72,47.0,1995.0,315,...,65.0,49.0,64.0,241,877,1999-10-16 00:00:00,6-5,215.0,Guard-Forward,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25263,1947,Tony Kappen,NaN,27.0,1,BOS,18,NaN,NaN,25,...,NaN,NaN,NaN,17,74,1919-04-13 00:00:00,5-10,165.0,Guard,Undrafted
25264,1947,Virgil Vaughn,NaN,28.0,1,BOS,17,NaN,NaN,15,...,NaN,NaN,NaN,18,45,1918-05-15 00:00:00,6-4,205.0,Forward,Undrafted
25265,1947,Walt Miller,NaN,31.0,1,PIT,12,NaN,NaN,7,...,NaN,NaN,NaN,16,23,1915-07-30 00:00:00,6-2,190.0,Forward,Undrafted
25266,1947,Wilbert Kautz,NaN,31.0,1,CHS,50,NaN,NaN,107,...,NaN,NaN,NaN,114,253,1915-09-07 00:00:00,5-11,180.0,Guard,Undrafted
25267,1947,Wyndol Gray,NaN,24.0,1,BOS,55,NaN,NaN,139,...,NaN,NaN,NaN,105,350,1922-03-20 00:00:00,6-1,175.0,Guard,Undrafted

In [10]:
data = data.sort_values(by=['player', 'season'])

In [11]:
grouped = data.groupby('player')
input_rows = []
output_rows = []

for player, group in grouped: 
  if len(group) > 1:
    for i in range(len(group) - 1):
      input_rows.append(group.iloc[i])
      output_rows.append(group.iloc[i + 1])

input_rows_df = pd.DataFrame(input_rows)
output_rows_df = pd.DataFrame(output_rows)

In [12]:
input_rows_array = input_rows_df.to_numpy()
input_rows_array

array([[1986, 'A.C. Green', nan, ..., 225.0, 'Forward', '23'],
       [1987, 'A.C. Green', nan, ..., 225.0, 'Forward', '23'],
       [1988, 'A.C. Green', nan, ..., 225.0, 'Forward', '23'],
       ...,
       [2009, 'Zydrunas Ilgauskas', nan, ..., 260.0, 'Center', '20'],
       [2010, 'Zydrunas Ilgauskas', nan, ..., 260.0, 'Center', '20'],
       [2020, 'Zylan Cheatham', nan, ..., 220.0, 'Forward', 'Undrafted']],
      dtype=object)

In [13]:
output_rows_array = output_rows_df.to_numpy()
output_rows_array

array([[1987, 'A.C. Green', nan, ..., 225.0, 'Forward', '23'],
       [1988, 'A.C. Green', nan, ..., 225.0, 'Forward', '23'],
       [1989, 'A.C. Green', nan, ..., 225.0, 'Forward', '23'],
       ...,
       [2010, 'Zydrunas Ilgauskas', nan, ..., 260.0, 'Center', '20'],
       [2011, 'Zydrunas Ilgauskas', nan, ..., 260.0, 'Center', '20'],
       [2022, 'Zylan Cheatham', nan, ..., 220.0, 'Forward', 'Undrafted']],
      dtype=object)

In [14]:
# drop names column 
# change all values to numeric

In [15]:
input_rows_df

,season,player,birth_year,age,experience,tm,g,gs,mp,fg,...,stl,blk,tov,pf,pts,birthdate,height,weight,position,draft_number
17464,1986,A.C. Green,NaN,22.0,1,LAL,82,1.0,1542.0,209,...,49.0,49.0,99.0,229,521,1963-10-04 00:00:00,6-9,225.0,Forward,23
17142,1987,A.C. Green,NaN,23.0,2,LAL,79,72.0,2240.0,316,...,70.0,80.0,102.0,171,852,1963-10-04 00:00:00,6-9,225.0,Forward,23
16771,1988,A.C. Green,NaN,24.0,3,LAL,82,64.0,2636.0,322,...,87.0,45.0,120.0,204,937,1963-10-04 00:00:00,6-9,225.0,Forward,23
16401,1989,A.C. Green,NaN,25.0,4,LAL,82,82.0,2510.0,401,...,94.0,55.0,119.0,172,1088,1963-10-04 00:00:00,6-9,225.0,Forward,23
15994,1990,A.C. Green,NaN,26.0,5,LAL,82,82.0,2709.0,385,...,66.0,50.0,116.0,207,1061,1963-10-04 00:00:00,6-9,225.0,Forward,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9052,2007,Zydrunas Ilgauskas,NaN,31.0,9,CLE,78,78.0,2130.0,385,...,48.0,98.0,141.0,257,925,1975-06-05 00:00:00,7-3,260.0,Center,20
8628,2008,Zydrunas Ilgauskas,NaN,32.0,10,CLE,73,73.0,2222.0,417,...,34.0,120.0,135.0,247,1029,1975-06-05 00:00:00,7-3,260.0,Center,20
8169,2009,Zydrunas Ilgauskas,NaN,33.0,11,CLE,65,65.0,1765.0,342,...,28.0,84.0,90.0,183,838,1975-06-05 00:00:00,7-3,260.0,Center,20
7705,2010,Zydrunas Ilgauskas,NaN,34.0,12,CLE,64,6.0,1339.0,194,...,14.0,50.0,63.0,183,474,1975-06-05 00:00:00,7-3,260.0,Center,20
2797,2020,Zylan Cheatham,NaN,24.0,1,NOP,4,0.0,51.0,6,...,1.0,1.0,4.0,10,12,1995-11-17 00:00:00,6-5,220.0,Forward,Undrafted

In [16]:
input_rows_df = input_rows_df.drop(columns=['player','birth_year','tm', 'draft_number', 'birthdate'])
output_rows_df = output_rows_df.drop(columns=['player','birth_year','tm', 'draft_number', 'birthdate'])

In [17]:
def height_to_inches(height_str):
  if isinstance(height_str, str):
    feet, inches = map(int, height_str.split('-'))
    return feet * 12 + inches 
  else: 
    return float('nan')



input_rows_df['height'] = input_rows_df['height'].apply(height_to_inches)
input_rows_df['height'] = input_rows_df['height'].astype(float)

In [18]:
output_rows_df['height'] = output_rows_df['height'].apply(height_to_inches)
output_rows_df['height'] = output_rows_df['height'].astype(float)

In [19]:
# Encoding 
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

for col in input_rows_df.columns:
    if input_rows_df[col].dtype == 'object':
        input_rows_df[col] = label_encoder.fit_transform(input_rows_df[col])

ModuleNotFoundError: No module named 'sklearn'

In [58]:
input_rows_df

,season,age,experience,g,gs,mp,fg,fga,fg_percent,x3p,...,trb,ast,stl,blk,tov,pf,pts,height,weight,position
17464,1986,22.0,1,82,1.0,1542.0,209,388,0.539,1.0,...,381.0,54,49.0,49.0,99.0,229,521,81.0,225.0,2
17142,1987,23.0,2,79,72.0,2240.0,316,587,0.538,0.0,...,615.0,84,70.0,80.0,102.0,171,852,81.0,225.0,2
16771,1988,24.0,3,82,64.0,2636.0,322,640,0.503,0.0,...,710.0,93,87.0,45.0,120.0,204,937,81.0,225.0,2
16401,1989,25.0,4,82,82.0,2510.0,401,758,0.529,4.0,...,739.0,103,94.0,55.0,119.0,172,1088,81.0,225.0,2
15994,1990,26.0,5,82,82.0,2709.0,385,806,0.478,13.0,...,712.0,90,66.0,50.0,116.0,207,1061,81.0,225.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9052,2007,31.0,9,78,78.0,2130.0,385,793,0.485,0.0,...,599.0,123,48.0,98.0,141.0,257,925,87.0,260.0,0
8628,2008,32.0,10,73,73.0,2222.0,417,879,0.474,0.0,...,682.0,104,34.0,120.0,135.0,247,1029,87.0,260.0,0
8169,2009,33.0,11,65,65.0,1765.0,342,724,0.472,15.0,...,490.0,64,28.0,84.0,90.0,183,838,87.0,260.0,0
7705,2010,34.0,12,64,6.0,1339.0,194,438,0.443,11.0,...,345.0,48,14.0,50.0,63.0,183,474,87.0,260.0,0
2797,2020,24.0,1,4,0.0,51.0,6,9,0.667,0.0,...,9.0,3,1.0,1.0,4.0,10,12,77.0,220.0,2

In [59]:
label_encoder.classes_

array(['Center', 'Center-Forward', 'Forward', 'Forward-Center',
       'Forward-Guard', 'Guard', 'Guard-Forward', nan], dtype=object)

In [61]:
# Convert all int types to floats 
int_columns = input_rows_df.select_dtypes(include=['int']).columns
input_rows_df[int_columns] = input_rows_df[int_columns].astype(float)

,season,age,experience,g,gs,mp,fg,fga,fg_percent,x3p,...,trb,ast,stl,blk,tov,pf,pts,height,weight,position
17464,1986.0,22.0,1.0,82.0,1.0,1542.0,209.0,388.0,0.539,1.0,...,381.0,54.0,49.0,49.0,99.0,229.0,521.0,81.0,225.0,2.0
17142,1987.0,23.0,2.0,79.0,72.0,2240.0,316.0,587.0,0.538,0.0,...,615.0,84.0,70.0,80.0,102.0,171.0,852.0,81.0,225.0,2.0
16771,1988.0,24.0,3.0,82.0,64.0,2636.0,322.0,640.0,0.503,0.0,...,710.0,93.0,87.0,45.0,120.0,204.0,937.0,81.0,225.0,2.0
16401,1989.0,25.0,4.0,82.0,82.0,2510.0,401.0,758.0,0.529,4.0,...,739.0,103.0,94.0,55.0,119.0,172.0,1088.0,81.0,225.0,2.0
15994,1990.0,26.0,5.0,82.0,82.0,2709.0,385.0,806.0,0.478,13.0,...,712.0,90.0,66.0,50.0,116.0,207.0,1061.0,81.0,225.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9052,2007.0,31.0,9.0,78.0,78.0,2130.0,385.0,793.0,0.485,0.0,...,599.0,123.0,48.0,98.0,141.0,257.0,925.0,87.0,260.0,0.0
8628,2008.0,32.0,10.0,73.0,73.0,2222.0,417.0,879.0,0.474,0.0,...,682.0,104.0,34.0,120.0,135.0,247.0,1029.0,87.0,260.0,0.0
8169,2009.0,33.0,11.0,65.0,65.0,1765.0,342.0,724.0,0.472,15.0,...,490.0,64.0,28.0,84.0,90.0,183.0,838.0,87.0,260.0,0.0
7705,2010.0,34.0,12.0,64.0,6.0,1339.0,194.0,438.0,0.443,11.0,...,345.0,48.0,14.0,50.0,63.0,183.0,474.0,87.0,260.0,0.0
2797,2020.0,24.0,1.0,4.0,0.0,51.0,6.0,9.0,0.667,0.0,...,9.0,3.0,1.0,1.0,4.0,10.0,12.0,77.0,220.0,2.0

In [64]:
for col in output_rows_df.columns:
    if output_rows_df[col].dtype == 'object':
        output_rows_df[col] = label_encoder.fit_transform(output_rows_df[col])

output_rows_df

,season,age,experience,g,gs,mp,fg,fga,fg_percent,x3p,...,trb,ast,stl,blk,tov,pf,pts,height,weight,position
17142,1987,23.0,2,79,72.0,2240.0,316,587,0.538,0.0,...,615.0,84,70.0,80.0,102.0,171,852,81.0,225.0,2
16771,1988,24.0,3,82,64.0,2636.0,322,640,0.503,0.0,...,710.0,93,87.0,45.0,120.0,204,937,81.0,225.0,2
16401,1989,25.0,4,82,82.0,2510.0,401,758,0.529,4.0,...,739.0,103,94.0,55.0,119.0,172,1088,81.0,225.0,2
15994,1990,26.0,5,82,82.0,2709.0,385,806,0.478,13.0,...,712.0,90,66.0,50.0,116.0,207,1061,81.0,225.0,2
15606,1991,27.0,6,82,21.0,2164.0,258,542,0.476,11.0,...,516.0,71,59.0,23.0,99.0,117,750,81.0,225.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8628,2008,32.0,10,73,73.0,2222.0,417,879,0.474,0.0,...,682.0,104,34.0,120.0,135.0,247,1029,87.0,260.0,0
8169,2009,33.0,11,65,65.0,1765.0,342,724,0.472,15.0,...,490.0,64,28.0,84.0,90.0,183,838,87.0,260.0,0
7705,2010,34.0,12,64,6.0,1339.0,194,438,0.443,11.0,...,345.0,48,14.0,50.0,63.0,183,474,87.0,260.0,0
7243,2011,35.0,13,72,51.0,1145.0,162,319,0.508,0.0,...,287.0,26,23.0,58.0,52.0,185,360,87.0,260.0,0
1714,2022,26.0,2,1,0.0,5.0,0,3,0.000,0.0,...,0.0,0,0.0,0.0,0.0,0,0,77.0,220.0,2

In [67]:
# Convert all int types to floats 
int_columns = output_rows_df.select_dtypes(include=['int']).columns
output_rows_df[int_columns] = output_rows_df[int_columns].astype(float)

In [68]:
output_rows_df

,season,age,experience,g,gs,mp,fg,fga,fg_percent,x3p,...,trb,ast,stl,blk,tov,pf,pts,height,weight,position
17142,1987.0,23.0,2.0,79.0,72.0,2240.0,316.0,587.0,0.538,0.0,...,615.0,84.0,70.0,80.0,102.0,171.0,852.0,81.0,225.0,2.0
16771,1988.0,24.0,3.0,82.0,64.0,2636.0,322.0,640.0,0.503,0.0,...,710.0,93.0,87.0,45.0,120.0,204.0,937.0,81.0,225.0,2.0
16401,1989.0,25.0,4.0,82.0,82.0,2510.0,401.0,758.0,0.529,4.0,...,739.0,103.0,94.0,55.0,119.0,172.0,1088.0,81.0,225.0,2.0
15994,1990.0,26.0,5.0,82.0,82.0,2709.0,385.0,806.0,0.478,13.0,...,712.0,90.0,66.0,50.0,116.0,207.0,1061.0,81.0,225.0,2.0
15606,1991.0,27.0,6.0,82.0,21.0,2164.0,258.0,542.0,0.476,11.0,...,516.0,71.0,59.0,23.0,99.0,117.0,750.0,81.0,225.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8628,2008.0,32.0,10.0,73.0,73.0,2222.0,417.0,879.0,0.474,0.0,...,682.0,104.0,34.0,120.0,135.0,247.0,1029.0,87.0,260.0,0.0
8169,2009.0,33.0,11.0,65.0,65.0,1765.0,342.0,724.0,0.472,15.0,...,490.0,64.0,28.0,84.0,90.0,183.0,838.0,87.0,260.0,0.0
7705,2010.0,34.0,12.0,64.0,6.0,1339.0,194.0,438.0,0.443,11.0,...,345.0,48.0,14.0,50.0,63.0,183.0,474.0,87.0,260.0,0.0
7243,2011.0,35.0,13.0,72.0,51.0,1145.0,162.0,319.0,0.508,0.0,...,287.0,26.0,23.0,58.0,52.0,185.0,360.0,87.0,260.0,0.0
1714,2022.0,26.0,2.0,1.0,0.0,5.0,0.0,3.0,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,77.0,220.0,2.0

In [ ]:
input_rows_array = input_rows_df.to_numpy()
output_rows_array = output_rows_df.to_numpy()